.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: lightsteelblue;
}

.text{
  padding-top: 20px;
  font-family: "Lexend Deca";
}

.spacer{
  padding-top: 200px;
}

h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}

.preventselection{
  user-select: none
}

.rgbtext{
  padding-bottom: 30px;
}